@using MedicalCenter.Core.Entities
@model Comment
@{
    var docs = ViewBag.Doctors as List<SelectListItem>;
    var pats = ViewBag.Patients as List<SelectListItem>;
}

<h1>Редагування коментаря @Model.Title</h1>


<form asp-action="Edit" enctype="multipart/form-data">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Doctor, "Лікар")
                <select asp-for="DoctorId" asp-items="@(docs)" id="x1" class="form-control">
                    <option value="0" selected="selected">- Оберіть лікаря -</option>
                </select>

                <input type="hidden" asp-for="DoctorId" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Title, "Назва")
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.MainText, "Вміст")
                @Html.TextBoxFor(model => model.MainText, new { @class = "form-control" })
                <span asp-validation-for="MainText" class="text-danger" />
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <button class="btn btn-primary btn-block" style="width: 100% !important" type="submit">Зберегти</button>
        </div>
    </div>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}