@using MedicalCenter.Core.Entities
@using MedicalCenter.WebUI.Controllers
@model List<Comment>


@{
    ViewData["Title"] = "Мої коментарі";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Patient"))
{
    <a href="/Comment/Create" class="btn btn-success float-end">Новий коментар</a>
    <div class="float-end" style="width:10px"></div>

}

<h2 class="mt-3 mb-3">@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Лікар</th>
            <th>Назва</th>
            <th>Вміст</th>
<div class="float-end" style="width:10px"></div>
            @if (User.IsInRole("Patient"))
            {
                <th>Дії</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>
                    <strong>@p.CreatedOn</strong>
                </td>
                <td>@p.Doctor.FullName</td>

                <td> @p.Title</td>
                <td> @p.MainText</td>
                @if (User.IsInRole("Patient"))
                {
                    <td>
                        <a href="/Comment/Edit/@p.Id" class="btn btn-warning">Редагувати</a>
                    <a href="/Comment/Delete/@p.Id" class="btn btn-danger">Видалити</a>
                </td>
                }
            </tr>
        }


    </tbody>
</table>

