@using MedicalCenter.Core.Entities
@model Appointment

@{
    var docs = ViewBag.Doctors as List<SelectListItem>;
    var pats = ViewBag.Patients as List<SelectListItem>;
}

<h1>Редагування запису на @Model.DateTime </h1>

<form asp-action="Edit" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @Html.HiddenFor(model => model.Id)

    @if (User.IsInRole("Admin") || User.IsInRole("Patient"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.DoctorId, "Лікар")
                    <select asp-for="DoctorId" asp-items="@(docs)" class="form-control">
                        <option value="">- Оберіть лікаря -</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.DoctorId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

    @if (User.IsInRole("Admin") || User.IsInRole("Doctor"))
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group mt-3">
                    @Html.LabelFor(model => model.PatientId, "Пацієнт")
                    <select asp-for="PatientId" asp-items="@(pats)" class="form-control">
                        <option value="">- Оберіть пацієнта -</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.PatientId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.DateTime, "Дата і час прийому")
                <input type="datetime-local" asp-for="DateTime" class="form-control" />
                @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mt-3">
                @Html.LabelFor(model => model.Type, "Короткий опис проблеми")
                @Html.TextBoxFor(model => model.Type, new { @class = "form-control" })
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Зберегти</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
