@using MedicalCenter.Core.Entities
@model IEnumerable<Appointment>

@{
    ViewData["Title"] = "Записи на прийом";
}

<h2>@ViewData["Title"]</h2>

<a href="/Appointment/Create" class="btn btn-success float-end">Додати запис</a>
<div class="float-end" style="width:10px"></div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Дата і час</th>
            <th>Короткий опис проблеми</th>
            @if (User.IsInRole("Admin"))
            {
                <th>Лікар</th>
                <th>Пацієнт</th>
            }
            else if (User.IsInRole("Doctor"))
            {
                <th>Пацієнт</th>
            }
            else if (User.IsInRole("Patient"))
            {
                <th>Лікар</th>
            }
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.DateTime</td>
                <td>@appointment.Type</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <img src="@appointment.Doctor.Photo" /><br />@appointment.Doctor.FullName
                    </td>
                    <td>
                        <img src="@appointment.Patient.Photo" /><br />@appointment.Patient.FullName
                    </td>
                }
                else if (User.IsInRole("Doctor"))
                {
                    <td>
                        <img src="@appointment.Patient.Photo" /><br />@appointment.Patient.FullName
                    </td>
                }
                else if (User.IsInRole("Patient"))
                {
                    <td>
                        <img src="@appointment.Doctor.Photo" /><br />@appointment.Doctor.FullName
                        </td>
                }
                <td>
                    <a href="@Url.Action("Edit", new { id = appointment.Id })" class="btn btn-warning">Редагувати</a>
                    <a href="@Url.Action("Delete", new { id = appointment.Id })" class="btn btn-danger">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
