﻿@using MedicalCenter.Repositories.Models

@model IEnumerable<UserListItemModel>

@{
    string pageTitle = User.IsInRole("Doctor") ? "Пацієнти" : User.IsInRole("Patient") ? "Лікарі" : "Користувачі";
    ViewData["Title"] = pageTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/User/Create" class="btn btn-primary float-end">Створити</a>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.FullName</td>
                <td>@u.Email</td>

                <td>@string.Join(", ", u.Roles)</td>
                <td>
                    <a href="/User/Details/@u.Id" class="btn btn-primary">Детально</a>
                    <a href="/User/Edit/@u.Id" class="btn btn-warning">Edit</a>
                    <a href="#" data-id="@u.Id" data-email="@u.Email" class="btn btn-danger btn-remove-user">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

